:root{

    //colors 
    --color-black: #242222;
	--color-1: #2581d9;
	--color-2: #41bef7;
	--color-text: #636060;
	--color-3: #bceafe;
	--color-4: #f6ecff;
	--color-5: #024260;
// fonts
    --fs: 20px;
    --fs-title: ;
    --font-family: "Roboto", sans-serif;
    --second-family:'Roboto', sans-serif;
    --true-color:
}
