@import "reset";
@import "fonts";

$font: 'HelveticaNeueCyr';

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-family: $font;
    font-size: 1rem;
    color: #000;
}


@import 'base/base';